<div>
    <ul>
        {{#each todo_items}}
            <li><input id="{{this._id}}" type="checkbox"
                {{#if this.doneAt }}
                       checked
                       {{/if}}  onchange="check_as_done('{{this._id}}')"><a href="/todo/{{this._id}}"><span class="item_title">{{{this.title}}}</span> :
                <span class="item_text">{{{this.text}}}</span></a>&nbsp;<button  onclick="edit_todo('{{this._id}}')">Edit</button></li>
        {{/each}}
    </ul>

</div>
<form method="POST" action="/todo">
    <input type="hidden" name="item_id" value="" id="editid">
    <input id="edittitle" type="text" name="title" placeholder="Название"><br>
    <input id="edittext" type="text" name="text" placeholder="Текст"><br>
    <input type="submit">&nbsp;<input type="reset">
</form>
