<form action="" method="post" class="mb-3">
    <h2>{{user.fullName}}</h2>
    <div class="form-group">
        <label for="first_name">First name</label>
        <input class="form-control {{#contains errors_field 'first_name'}}bg-warning{{else}}{{/contains}}" type="text" name="first_name" required placeholder="Enter First Name" value="{{#if formField}}{{formField.first_name}}{{else}}{{user.firstName}}{{/if}}">
    </div>
    <div class="form-group">
        <label for="last_name">Last name</label>
        <input class="form-control {{#contains errors_field 'last_name'}}bg-warning{{else}}{{/contains}}" type="text" name="last_name" required placeholder="Enter Last Name" value="{{#if formField}}{{formField.last_name}}{{else}}{{user.lastName}}{{/if}}">
    </div>
    <div class="form-group">
        <label for="email_address">Email address (login)</label>
        <input class="form-control {{#contains errors_field 'email_address'}}bg-warning{{else}}{{/contains}}" type="email" name="email_address" required placeholder="Enter email" value="{{#if formField}}{{formField.email_address}}{{else}}{{user.email}}{{/if}}">
    </div>
    <div class="d-flex flex-column align-items-sm-start">
        <a href="/updatePassword{{user.url}}" class="btn btn-primary mb-3">Update Password</a>
        <button type="submit" class="btn btn-primary">Update Profile</button>
    </div>
</form>


{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger" role="alert">
            <b>{{this.msg}}</b>
        </div>
    {{/each}}
{{/if}}