<form action="" method="post" class="mb-3">
    <h4 class="mb-3">Update Password for user: <b>{{user.email}}</b></h4>
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input class="form-control {{#contains errors_field 'oldPassword'}}bg-warning{{else}}{{/contains}}" type="password" name="oldPassword" required placeholder="Password">
    </div>
    <div class="form-group">
        <label for="password">New Password</label>
        <input class="form-control {{#contains errors_field 'password'}}bg-warning{{else}}{{/contains}}" type="password" name="password" required placeholder="Password">
    </div>
    <div class="form-group">
        <label for="repassword">Repeat New Password</label>
        <input class="form-control {{#contains errors_field 'repassword'}}bg-warning{{else}}{{/contains}}" type="password" name="repassword" required placeholder="Password">
    </div>
    <div class="form-group">
        <a href="{{user.url}}">Back to Profile</a>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>

{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger" role="alert">
            <b>{{this.msg}}</b>
        </div>
    {{/each}}
{{/if}}

{{#if success}}
        <div class="alert alert-success" role="alert">
            <b>Password changed</b>
        </div>
{{/if}}